
/* Your CSS Code here. */
.holder {
    display: flex;
    justify-content: center; /* Center the items horizontally */
     /* Prevent wrapping to keep all items in a single row */
    /* border: 1px solid #ccc; /* Just for visualization */ */
     /* Just for visualization */
	flex-wrap: wrap;
	/* align-items: center; /* Center the items vertically */ */
    /* Just for visualization */
    /* padding: 5px; 
 */
	
	
  }
  .item1 {
    margin: 0px; /* Add some margin between items for better spacing */
    padding: 30px; /* Just for visualization */
    border: 1px solid blue; /* Just for visualization */
	  background-color: green
  }
 .item2 {
    margin: 0px; /* Add some margin between items for better spacing */
    padding: 30px; /* Just for visualization */
    border: 1px solid blue; /* Just for visualization */
	  background-color: red;
  }
 .item3 {
    margin: 0px; /* Add some margin between items for better spacing */
    padding: 30px; /* Just for visualization */
    border: 1px solid blue; /* Just for visualization */
	  background-color: blue;
  }